$background-primary: #111111;
$background-secondary: #1C1C1C;
$background-alt: #FFFFFF;

$content-primary: $background-alt;
$content-secondary: #f64646;
$content-alt: $background-primary;



$border-radius: 0.5rem;